:root {
  --app-bg-color: $color-white;
  --body-bg-color: rgba(0, 0, 0, 0.01);
  --bg-gray: rgba(0, 0, 0, 0.04);
  --app-main-color: #eee;
  --bg-light-blue: rgba(30, 144, 255, 0.03);
  --darkest: #000;
  --green: #3AD69E; }

html {
  box-sizing: border-box;
  background-color: var(--body-bg-color);
  font-size: 16px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none; }

a:hover {
  color: #363636; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p,
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

h1,
.h1 {
  font-size: 4rem;
  line-height: 5rem; }

h2,
.h2 {
  font-size: 3rem;
  line-height: 4rem; }

h3,
.h3 {
  font-size: 2rem;
  line-height: 3rem; }

h4,
.h4 {
  font-size: 1.5rem;
  line-height: 2.25rem; }

h5,
.h5 {
  font-size: 1.125rem;
  line-height: 1.75rem; }

h6,
.h6 {
  font-size: 1rem;
  line-height: 1.5rem; }

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--body-bg-color); }

.text-center {
  text-align: center; }

.pt-5 {
  padding-top: 5px; }

.pt-10 {
  padding-top: 10px; }

.pt-20 {
  padding-top: 20px; }

.pt-30 {
  padding-top: 30px; }

.pt-40 {
  padding-top: 40px; }

.pt-10 {
  padding-bottom: 10px; }

.pb-20 {
  padding-bottom: 20px; }

.pb-30 {
  padding-bottom: 30px; }

.justify-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.space-between {
  display: flex;
  justify-content: space-between; }

.space-around {
  display: flex;
  justify-content: space-between; }

.flex-start {
  display: flex;
  justify-content: flex-start; }

.flex-end {
  display: flex;
  justify-content: flex-end; }

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.display-none {
  display: none; }

.navbar {
  background-color: var(--app-bg-color);
  height: 4.063rem;
  border: 1px solid #eee;
  position: relative;
  z-index: 30; }

.navbar-burger {
  color: #4a4a4a;
  cursor: pointer;
  display: block;
  position: relative;
  min-height: 4.063rem;
  margin-left: auto; }

.navbar-burger span {
  display: block;
  position: absolute;
  top: -6px;
  right: 5px;
  font-size: 46px; }

.nav-menu {
  display: none; }

.navbar-item {
  position: relative;
  min-height: 4.063rem;
  color: var(--mid-black);
  font-weight: 100;
  display: block;
  line-height: 1.5;
  padding: 0 0.75rem; }

.brand {
  display: flex;
  font-family: 'Petit Formal Script', cursive;
  align-items: stretch;
  flex-shrink: 0;
  min-height: 4.063rem; }

.brand > .navbar-item {
  font-size: 28px; }

.navbar > .container {
  width: 100%;
  display: flex;
  align-items: stretch;
  min-height: 4.063rem; }

.is-active-menu {
  display: block; }

@media (max-width: 768px) {
  .navbar {
    width: 100%; }
  .navbar > .container {
    display: block; }
  .brand .navbar-item,
  .navbar-item {
    align-items: center;
    display: flex; }
  .nav-menu {
    background-color: var(--app-bg-color);
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    padding: 0.5rem 0; } }

@media (min-width: 1024px) {
  .navbar > .container {
    width: 100%;
    display: flex;
    align-items: stretch;
    min-height: 4.063rem; }
  .navbar {
    height: 4.06rem; }
  .navbar,
  .nav-menu,
  .navbar-right,
  .navbar-left {
    display: flex;
    align-items: stretch; }
  .navbar-left,
  .navbar-right {
    align-items: center; }
  .navbar-burger {
    display: none; }
  .navbar-item {
    display: flex;
    align-items: center; }
  .nav-menu {
    flex-grow: 1;
    flex-shrink: 0; }
  .navbar-left {
    justify-content: flex-start;
    margin-right: auto; }
  .navbar-right {
    justify-content: flex-end;
    margin-left: auto; }
  .navbar > .container .nav-menu {
    margin-right: -0.75rem; }
  .navbar > .container .logo {
    margin-left: -0.75rem; } }

.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer; }

.button:focus {
  outline: none; }

.button-dark {
  color: #eee;
  background-color: #000000; }

.button-dark:hover {
  background-color: #222; }

.button-rectangle {
  border-radius: 0; }

.button-rounded {
  border-radius: 30px; }

.avatar-xl {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 50%; }

.avatar-lg {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%; }

.avatar-md {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%; }

.avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%; }

.avatar-sm {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50%; }

.avatar-xs {
  width: 16px;
  height: 16px;
  object-fit: cover;
  border-radius: 50%; }

.placeholder-xl {
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bcc4d4;
  border-radius: 50%; }

.placeholder-lg {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bcc4d4;
  border-radius: 50%; }

.placeholder-md {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bcc4d4;
  border-radius: 50%; }

.placeholder {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bcc4d4;
  border-radius: 50%; }

.placeholder-sm {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bcc4d4;
  border-radius: 50%; }

.placeholder-xs {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bcc4d4;
  border-radius: 50%; }

.img-fluid {
  width: 100%; }

.input-field {
  display: block;
  max-width: 100%;
  width: 100%;
  padding: 0.625rem .75rem;
  font-size: 1rem;
  line-height: 1.6;
  color: #222;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.08); }

.input-field:focus {
  outline: none;
  border-color: rgba(42, 131, 214, 0.27);
  transition: border-color .15s ease-in-out; }

.input-field:disabled, .input-field:read-only {
  background-color: rgba(237, 237, 237, 0.2); }

.input-field::-moz-placeholder,
.textarea::-moz-placeholder {
  color: rgba(54, 54, 54, 0.3); }

.input-field::-webkit-input-placeholder {
  color: #c4c4c4; }

.label {
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700; }

.label:not(:last-child) {
  margin-bottom: 0.5em; }

.input-control {
  margin-bottom: 10px; }

.form-horizontal {
  width: 100%;
  display: flex;
  justify-content: flex-start; }

.form-vertical {
  position: relative; }

.container {
  width: 100%;
  padding: 0 0.9375rem;
  margin: 0 auto;
  position: relative; }

.container-fluid {
  padding: 0 0.9375rem; }

@media (min-width: 75rem) {
  .container {
    width: 71.25rem; } }

.columns {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.9375rem; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto {
  position: relative;
  width: 100%;
  padding: 0 15px; }

@media (min-width: 768px) {
  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-12 {
    flex: 0 0 100%;
    max-width: 100%; } }
