$color-pink: #f62f5e;
$color-light-grey: #b4b4b4;
$color-purple: #9e1282;
$color-white: #fff;
$color-blue: #12539e;
$color-yellow: #e8de2c;
$color-red: #e2242d;
$orange-red: #f74420;
$color-mild-grey: #eee;
$color-black: #2e2e2e;
$transparent: transparent;
$darkgray: #6c6c6c;
$sky-blue: #6eb2fb;
$orange-gold: #f1ad3d;
$feint-grey: #f7f7f7;
$aqua-green: #00d3ca;
$lime-green: #effc90;