$color-pink: #f62f5e;
$color-purple: #9e1282;
$color-white: #fff;
$color-blue: #12539e;
$color-yellow: #e8de2c;
$color-red: #e2242d;
$orange-red: #f74420;
$color-black: #000000;
$mid-black: #222;
$transparent: transparent;
$darkgray: #6c6c6c;
$sky-blue: #6eb2fb;
$orange-gold: #f1ad3d;
$feint-grey: #f7f7f7;
$mid-grey: #bcc4d4;
$aqua-green: #00d3ca;
$gray-1: #eee;
$gray-2: #ddd;
$andela-color: #365ddc;