.avatar-xl {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-lg {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-md {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-sm {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-xs {
  width: 16px;
  height: 16px;
  object-fit: cover;
  border-radius: 50%;
}

.placeholder-xl {
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mid-grey;
  border-radius: 50%;
}

.placeholder-lg {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mid-grey;
  border-radius: 50%;
}

.placeholder-md {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mid-grey;
  border-radius: 50%;
}

.placeholder {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mid-grey;
  border-radius: 50%;
}

.placeholder-sm {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mid-grey;
  border-radius: 50%;
}

.placeholder-xs {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mid-grey;
  border-radius: 50%;
}

.img-fluid {
  width: 100%;
}