.avatar-lg {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-md {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-sm {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

.placeholder-lg {
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mid-grey;
  border-radius: 50%;
}

.placeholder-md {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mid-grey;
  border-radius: 50%;
}

.placeholder-sm {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mid-grey;
  border-radius: 50%;
}