.button {
  display: inline-block;
  font: inherit;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer;

  &:focus {
    outline: none;
  }
  &-outline {
    border: 2px solid $gray-1;
    &:hover {
      background-color: $gray-1;
      transition: background-color ease-in-out .2s;
    }
  }
  &-dark {
    color: $gray-1;
    background-color: $color-black;
    &:hover {
      background-color: $mid-black;
    }
  }
  &-default {
    background-color:$gray-1;
    &:hover {
      background-color: rgba(221, 221, 221,0.7);
      transition: background-color ease-in-out .2s;
    }
  }
  &-rectangle {
    border-radius: 3px;
  }
  &-rounded {
    border-radius: 30px;
  }
  &-positive {
    color: $color-white;
    background-color: #02A959;
  }
  &-andela {
    color: $color-white;
    background-color: $andela-color;
  }
  &-white {
    background-color: $color-white;
    background-image: linear-gradient(180deg,#fff,#f5f5fa);
  }
  &-shadow {
   text-decoration: none;
   transition: all .2s ease-out;
   box-shadow: 0 4px 11px 0 rgba(37,44,97,.15), 0 1px 3px 0 rgba(93,100,148,.2);
   &:hover {
     box-shadow: 0 1px 3px 0 rgba(37,44,97,.15), 0 1px 2px 0 rgba(93,100,148,.2);
   }
  }
  &-outline-dark {
    border: 1px solid #000;
    &:hover {
      color: $gray-1;
      background-color: #000;
      transition: all ease-in .1s;
    }
  }
  &-shade {
    background: #17aa56;
    color: #fff;
    border-radius: 7px;
    box-shadow: 0 5px #119e4d;
    &:hover {
      box-shadow: none;
      transition: box-shadow .3s ease-in-out;
    }
  }
}
.button::-moz-focus-inner {
  border: none;
}
