.card {
  position: relative;
  margin: 10px 0;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  .card-image>img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .card-content {
    padding: 18px;
  }

  .card-title {
    font-size: 24px;
    font-weight: 500;
  }

  .card-description {
    color: rgb(150, 150, 150);
    font-size: 14px;
    font-weight: 400;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.clipcard, .wavecard {
  margin: 30px 0;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
}
.clipcard-image {
  height: 200px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 76% 98%, 36% 80%, 0% 80%, 0% 20%);
  clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 76% 98%, 36% 80%, 0% 80%, 0% 20%);
  object-fit: cover;
  transition: clip-path ease-in-out .5s;
}
.clipcard-body,.wavecard-body {
  padding: 15px;
  color: #777;
  font-weight: 100 !important;
}
.clipcard-image:hover {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 46% 80%, 23% 90%, 0% 80%, 0% 20%);
  clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 46% 80%, 23% 90%, 0% 80%, 0% 20%);
  
}
.wavecard-image {
  height: 200px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 75%, 70% 84%, 34% 64%, 0 78%, 0% 43%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 75%, 70% 84%, 34% 64%, 0 78%, 0% 43%, 0 0);
  transition: all 0.5s ease-in-out;
}
.wavecard-image:hover {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 79%, 66% 65%, 36% 78%, 0 78%, 0% 43%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 79%, 66% 65%, 36% 78%, 0 78%, 0% 43%, 0 0);
}
.rectcard {
  display: flex;
  justify-content: flex-start;
  margin: 30px 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
}
.rectcard-image {
  width: 250px;
  height: 200px;
  object-fit: cover;
  clip-path: polygon(100% 0%, 82% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.rectcard-image:hover {
  clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 0 100%, 0% 50%, 0 0);
}
.rectcard-content {
  position: relative;
  padding: 15px;
}
.user-details {
  position: absolute;
  bottom: 10px;
}
.rectcard-title {
  font-size: 24px;
}
.rectcard-desc {
  font-size: 14px;
}
  @media (max-width: 576px) {
   .rectcard {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     border-radius: 10px;
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
   }
   .rectcard-image {
     width: 100%;
     height: 200px;
     object-fit: cover;
     clip-path: none;
     border-radius: 10px;
     transition: all 0.5s ease-in-out;
   }
   .user-details {
     position: relative;
     padding-top: 20px;
   }
  }
/* Rectangle 14.4 */

.svg:hover path {
  fill: #D60B2F;
}



// .card:hover {
//   clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 54%, 27% 55%, 12% 64%, 0 55%, 0% 35%, 0 0);
// }