 .navbar {
   background-color: var(--app-bg-color);
   height: 4.063rem;
   border: 1px solid $light-grey;
   position: relative;
   z-index: 30;
 }

 .navbar-burger {
   color: #4a4a4a;
   cursor: pointer;
   display: block;
   position: relative;
   min-height: 4.063rem;
   margin-left: auto;
 }

 .navbar-burger span {
   display: block;
   position: absolute;
   top: -6px;
   right: 5px;
   font-size: 46px;
 }

 .nav-menu {
   display: none;
 }

 .navbar-item {
   position: relative;
   min-height: 4.063rem;
   color: var(--mid-black);
   font-weight: 100;
   display: block;
   line-height: 1.5;
   padding: 0 0.75rem;
 }

 .brand {
   display: flex;
   font-family: 'Petit Formal Script', cursive;
   align-items: stretch;
   flex-shrink: 0;
   min-height: 4.063rem;
 }

 .brand>.navbar-item {
   font-size: 28px;
 }

 .navbar>.container {
   width: 100%;
   display: flex;
   align-items: stretch;
   min-height: 4.063rem;
 }

 .is-active-menu {
   display: block;
 }

 @media (max-width: 768px) {
   .navbar {
     width: 100%;
   }

   .navbar>.container {
     display: block;
   }

   .brand .navbar-item,
   .navbar-item {
     align-items: center;
     display: flex;
   }

   .nav-menu {
     background-color: var(--app-bg-color);
     box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
     padding: 0.5rem 0;
   }
 }

 @media (min-width: 1024px) {
   .navbar>.container {
     width: 100%;
     display: flex;
     align-items: stretch;
     min-height: 4.063rem;
   }

   .navbar {
     height: 4.06rem;
   }

   .navbar,
   .nav-menu,
   .navbar-right,
   .navbar-left {
     display: flex;
     align-items: stretch;
   }

   .navbar-left,
   .navbar-right {
     align-items: center;
   }

   .navbar-burger {
     display: none;
   }

   .navbar-item {
     display: flex;
     align-items: center;
   }

   .nav-menu {
     flex-grow: 1;
     flex-shrink: 0;
   }

   .navbar-left {
     justify-content: flex-start;
     margin-right: auto;
   }

   .navbar-right {
     justify-content: flex-end;
     margin-left: auto;
   }

   .navbar>.container .nav-menu {
     margin-right: -0.75rem;
   }

   .navbar>.container .logo {
     margin-left: -0.75rem;
   }
 }