.navbar {
  background-color: $color-white;
  height: 4.063rem;
  position: relative;
  border-bottom: 1px solid var(--app-main-color);
  z-index: 30;
}

.navbar-burger {
  color: #4a4a4a;
  cursor: pointer;
  display: block;
  height: 4.063rem;
  position: relative;
  width: 4.063rem;
  margin-left: auto;
}

.navbar-burger span {
  display: block;
  top: calc(50% - 38px);
  left: 50%;
  position: absolute;
  font-size: 40px;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-property: background-color, opacity, transform, -webkit-transform;
  transition-timing-function: ease-out;
}

.nav-menu {
  display: none;
}

.navbar-item {
  min-height: 4.063rem;
  color: #4a4a4a;
  display: block;
  line-height: 1.5;
  padding: 0 0.75rem;
  position: relative;
}

.brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 4.063rem;
}

.brand .navbar-item {
  font-size: 18px;
}

.navbar>.container {
  align-items: stretch;
  display: flex;
  min-height: 4.063rem;
  width: 100%;
}

.navbar .navbar-left>.navbar-item,
.navbar .navbar-right>.navbar-item {
  border-bottom: 1px solid transparent;
}

.navbar .navbar-left>.navbar-item:hover,
.navbar .navbar-right>.navbar-item:hover {
  border-bottom-color: #444;
}

.navbar .navbar-left>.is-active,
.navbar .navbar-right>.is-active {
  border-bottom: 1px solid #444;
}

.navbar-item {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
}

.navbar.fixed-top {
  top: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30;
}

html.has-navbar-fixed-top,
body.has-navbar-fixed-top {
  padding-top: 3.25rem;
}

@media screen and (max-width: 768px) {
  .navbar {
    width: 100%;
  }

  .navbar>.container {
    display: block;
  }

  .brand .navbar-item,
  .navbar-item {
    align-items: center;
    display: flex;
  }

  .nav-menu {
    background-color: white;
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    padding: 0.5rem 0;
  }

}