.select {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
}
.select select {
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  cursor: pointer;
  display: block;
  font-size: 1em;
  max-width: 100%;
  outline: none;
}

.select select::-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

.select select:focus,
.select select.is-focused,
.select select:active,
.select select.is-active {
  border-color: #3273dc;
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}
.has-icon {
  position: relative;
}
.icon-right {
  position: absolute;
  right: 8px;
  top:11px;
  transform: rotate(0deg);
  transition: transform ease-in-out .2s;
}
.flames-select .select-item {
  display: none;
  margin-top: 10px;
  padding-left: 0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.flames-select .select-item.active {
  display: block;
} 
 .icon-right.active {
    transform: rotate(180deg);
    transition: transform ease-in-out .2s;
  }
.select-item .item {
  list-style: none;
  padding: 5px 15px;
}
.select-item .item:hover {
  background-color: rgba(238, 238, 238,0.3);
}
