//padding
.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-10 {
  padding-bottom: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.py-40 {
  padding: 40px 0 !important;
}
/*margin*/
.mt--5 {
  margin-top: -5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-60 {
  margin-top: 60px;
}
.mr-10 {
  margin-right: 10px;
}
// flexbox classes
.justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.space-around {
  display: flex;
  justify-content: space-between;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.align-center {
  display: flex;
  align-items: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.display-none {
  display: none;
}

/**/
.fs-14 {
  font-size: 14px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}
.shadow {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

// colums
.col-height {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 12px;
  background-color: #eee;
  border-left: 1px solid #ddd;
}
.bg-red {
  background-color: rgb(219, 164, 164);
}
.bg-blue {
  background-color: rgba(38, 38, 235,0.1);
}
.bg-green {
  background-color: rgb(202, 221, 202);
}
.bg-sea {
  background-color: rgba(17, 117, 240,0.4);
}
.bg-orange {
  background-color: rgba(241, 164, 8,0.1);
}
.bg-yellow {
  background-color: rgb(236, 236, 200);
}
.bg-purple {
  background-color: rgba(128, 0, 128, 0.2);
}
.bg-pink {
  background-color: rgba(255, 192, 203, 0.637);
}
.bg-dent {
  background-color: rgba(255, 0, 255, 0.256);
}
.bg-grey {
  background-color: rgba(128, 128, 128, 0.215);
}
.bg-gold {
  background-color: rgba(218, 165, 32, 0.473);
}
.bg-black {
  background-color: rgba(0, 0, 0, 0.247);
}

/* border */
.bordered {
  border: 1px solid #eee;
}
.b-0 {
  border: 0 !important;
}
.bb-0 {
  border-bottom: 0 !important;
}

/* shadow */
.shadow {
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06)!important;
}
